* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    height: 15vh;
}

img {
    height: 100%;
}

h1 {
    color: #333;
}

.map-container {
    padding: 40px 3%;
    gap: 4%;
    margin: 20px;
    width: fit-content;
    display: flex;
    align-items: center;
    flex: 2 3;
    height: 65.9vh;
    justify-content: space-between;
}

.deskripsi {
    background-color: #AAAAAA;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    color: #ffff;
    padding: 40px;
    opacity: 0.5;
}

.deskripsi h1 {
    color: #ffff;
    font-size: 80pt;
}

.search-maps {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 1000px;
    padding-inline: 0;
}

.search-bar {
    display: flex;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    background-color: #f0f0f0;
    width: 100%;
    height: 40px;
}

.search-bar input[type="text"] {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
}

.search-bar button {
    border: none;
    background: transparent;
    padding: 8px;
    cursor: pointer;
}

.fa-search {
    color: #888;
    font-size: 16px;
}

.mini-map {
    background-color: #333;
    height: 500px;
    width: 1000px;
    border-radius: 15px;
    overflow: hidden;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #141414;
    height: 15vh;
    text-align: center;
}

.footer-atas {
    color: #ffff;
    padding: 15px;
}

.footer-bawah {
    background-color: #141414;
    display: flex;
    align-items: baseline;
    justify-content: center;
    color: #ffff;
    gap: 15px;
    
}

.footer_kiri {
    flex: 1;
    text-align: right;
}

.contact-info {
    margin-left: 5px;
}


.footer_kanan {
    flex: 1;
    text-align: left;
    border-left: 1px solid #ccc;
    padding: 15px;
}