.search-bar {
    display: flex;
    align-items: center;
    border-radius: 20px;
    /* Atur tingkat kebulatan yang diinginkan */
    overflow: hidden;
    background-color: #f0f0f0;
    /* Warna latar belakang search bar */
    width: 300px;
    /* Sesuaikan lebar sesuai kebutuhan */
}

.search-bar input[type="text"] {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    background: transparent;
}

.search-bar button {
    border: none;
    background: transparent;
    padding: 8px;
    cursor: pointer;
}

/* Style untuk ikon search */
.fa-search {
    color: #888;
    /* Warna ikon */
}

footer {
    text-align: center;
}

.footer-atas {
    margin-top: 0;
    margin-bottom: 20px;
}

.footer-bawah {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ccc;
    /* Garis pembatas antara footer_kanan dan footer_kiri */
    padding-top: 10px;
    /* Ruang atas dari garis */
}

.footer_kanan,
.footer_kiri {
    flex: 1;
}

.footer_kanan p,
.footer_kiri p {
    margin: 5px 0;
}


